wcf-reference-client/wcf-reference-client/Connected Services/FlightServiceReference/FlightService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65125/FlightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf_service_app.Models" />
  <xs:element name="GetAllFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_service_app.Models" minOccurs="0" name="GetAllFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAirports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAirportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_service_app.Models" minOccurs="0" name="GetAllAirportsResult" nillable="true" type="q2:ArrayOfAirport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>