wcf-reference-client/wcf-reference-client/Connected Services/FlightServiceReference/FlightService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_service_app.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_service_app.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65125/FlightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="tns:Airport" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="tns:Airport" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Airport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airport" nillable="true" type="tns:Airport" />
  <xs:complexType name="ArrayOfAirport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Airport" nillable="true" type="tns:Airport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirport" nillable="true" type="tns:ArrayOfAirport" />
</xs:schema>